---
import RenderBlock from "@components/utils/renderBlock.astro";
import Heading from "@core-elements/heading/Heading.astro";

const {
  title,
  contentSections,
  editable = false,
  checked = false,
  groupName = "content-selector-tabs",
  navigationPosition = "start",
  _component,
  "data-children-prop": childrenDataProp,
  ...htmlAttributes
} = Astro.props;

const uniqueId = crypto.randomUUID();
const tabId = `tab-${uniqueId}`;
const panelId = `panel-${uniqueId}`;
const tabLabelId = `tablabel-${uniqueId}`;

const effectiveChildrenProp = childrenDataProp ?? (editable ? "contentSections" : null);
const arrayDataAttributes = effectiveChildrenProp
  ? { "data-editable": "array", "data-prop": effectiveChildrenProp }
  : {};
---

<div class="content-selector-item" {...htmlAttributes}>
  <input
    type="radio"
    name={groupName}
    id={tabId}
    class="content-selector-input"
    checked={checked}
    autocomplete="off"
  />
  <label
    class="content-selector-tab"
    id={tabLabelId}
    for={tabId}
    role="tab"
    aria-controls={panelId}
  >
    <Heading
      text={title}
      level="h3"
      size="h3"
      alignX={navigationPosition === "top" ? "center" : "start"}
      class="content-selector-tab-heading"
    />
  </label>
  <div class="content-selector-panel" id={panelId} role="tabpanel" aria-labelledby={tabLabelId}>
    <div class="content-selector-panel-content" {...arrayDataAttributes}>
      <slot>
        {contentSections && <RenderBlock contentSections={contentSections} editable={!!effectiveChildrenProp} />}
      </slot>
    </div>
  </div>
</div>

<style is:global>
  @layer components {
    .content-selector-item {
      display: contents;
    }

    .content-selector-input {
      display: none;
    }

    .content-selector-panel {
      animation: fade-in var(--animation-slow) ease-in-out forwards;
      container-type: inline-size;
      display: none;
    }

    .content-selector-panel-content > *:first-child {
      margin-top: 0 !important;
    }
  }
</style>
